In [1]:
import quandl
import pandas as pd
import requests
quandl.ApiConfig.api_key = 'vniduHCZR4kzi7nqs1wS'

In [2]:
sge_codes = pd.read_csv('data/SGE_codes.csv')
sge_codes.head()

,code,country_iso,indicator_code,name,description,units,source,url
0,SGE/ABWBOT,ABW,BOT,Aruba - Balance Of Trade,The quarterly net financial position of Aruba ...,AFI Million,Aruba Central Bureau of Statistics,
1,SGE/ABWCPI,ABW,CPI,Aruba - Consumer Price Index Cpi,The Consumer Price Index (CPI) is a measure of...,points 2019=100,Aruba Central Bureau of Statistics,NaN
2,SGE/ABWCPIC,ABW,CPIC,Aruba - Inflation Rate,The growth rate of the prices in Aruba.,percent 2006=100,Aruba Central Bureau of Statistics,
3,SGE/ABWCTR,ABW,CTR,Aruba - Corporate Tax Rate,The top marginal tax rate on corporate profits...,percent,"Ministerio di Finansas, Comunicacion, Utilidad...",
4,SGE/ABWEXVOL,ABW,EXVOL,Aruba - Exports,The total value of the goods and services prod...,AFI Million,Aruba Central Bureau of Statistics,

Country Codes:

- Egypt: EGY
- Saudi Arabia: SAU
- Lebanon: LBN
- Jordan:JOR
- Iraq: IRQ
- Syria: SYR

Indicators:
- CPI: Consumer Price Index
- CPIC: Inflation Rate
- FDI: Foreign Direct Investment
- GDCP: Gross Domestic Product Per Capita (PPP)
- IR: Interest Rate
- UNP: Unemployment Rate
- EDBT: External Debt

In [3]:
countries = ['EGY', 'SAU', 'LBN', 'JOR', 'IRQ', 'SYR']
indicators = [
'CPI'
'CPIC'
'EDBT'
'FDI'
'GPCP'
'IR'
'UNP'
]

In [4]:
country_codes = [
'EGYCPI',
'EGYCPIC',
'EGYEDBT',
'EGYFDI',
'EGYGPCP',
'EGYIR',
'EGYUNP',
'IRQCPI',
'IRQCPIC',
'IRQGPCP',
'IRQIR',
'JORCPI',
'JORCPIC',
'JOREDBT',
'JORFDI',
'JORGPCP',
'JORIR',
'LBNCPI',
'LBNCPIC',
'LBNEDBT',
'LBNFDI',
'LBNGPCP',
'LBNIR',
'SAUCPI',
'SAUCPIC',
'SAUFDI',
'SAUGPCP',
'SAUIR',
'SYRCPI',
'SYRCPIC',
'SYRGPCP'
]

In [5]:
start_date = '2017-01-01'
end_date = '2020-01-01'

In [27]:
sge = 'https://www.quandl.com/api/v3/databases/SGE/data?download_type=full&api_key=vniduHCZR4kzi7nqs1wS'

In [28]:
sge_data = requests.get(sge)
sge_data.status_code

200

In [26]:
url = 'https://www.quandl.com/api/v3/datasets/SGE/EGYCPI/data.json?api_key=vniduHCZR4kzi7nqs1wS'

#for i in country_codes:
res_data = requests.get(url)
#print(f"Requesting {i} data")
daata = res_data.json()
econ_data = pd.DataFrame(daata)
econ_data

                                                   dataset_data
collapse                                                   None
column_index                                               None
column_names                                      [Date, Value]
data          [[2020-04-30, 107.6], [2020-03-31, 106.3], [20...
end_date                                             2020-04-30
frequency                                               monthly
limit                                                      None
order                                                      None
start_date                                           1957-01-31
transform                                                  None

In [25]:
econ_data

                                                   dataset_data
collapse                                                   None
column_index                                               None
column_names                                      [Date, Value]
data          [[2020-04-30, 107.6], [2020-03-31, 106.3], [20...
end_date                                             2020-04-30
frequency                                               monthly
limit                                                      None
order                                                      None
start_date                                           1957-01-31
transform                                                  None

In [21]:
#for i in country_codes:
res_data = requests.get('https://www.quandl.com/api/v3/datasets/SGE/EGYCPI?start_date=2017-01-01&end_date=2020-01-01&api_key=vniduHCZR4kzi7nqs1wS')
#print(f"Requesting {i} data")
econ_data = pd.DataFrame(res_data.json())

In [23]:
econ_data

                                                                 dataset
collapse                                                            None
column_index                                                        None
column_names                                               [Date, Value]
data                   [[2019-12-31, 104.9], [2019-11-30, 105.1], [20...
database_code                                                        SGE
database_id                                                        12833
dataset_code                                                      EGYCPI
description            <p>The Consumer Price Index (CPI) is a measure...
end_date                                                      2020-01-01
frequency                                                        monthly
id                                                              13977834
limit                                                               None
name                                  Egypt - Consumer Price Index (CPI)
newest_available_date                                         2020-04-30
oldest_available_date                                         1957-01-31
order                                                               None
premium                                                             True
refreshed_at                                    2020-05-15T02:37:42.224Z
start_date                                                    2017-01-01
transform                                                           None
type                                                         Time Series

In [ ]:
https://www.quandl.com/api/v3/datasets/SGE/XKXSSRE?start_date=2018-12-31&end_date=2020-12-31&api_key=vniduHCZR4kzi7nqs1wS

In [19]:
econ_data

                                              quandl_error
code                                                QECx05
message  The url you requested is incorrect. Please use...

In [13]:
econ_data.shape

(2, 1)

In [7]:
def quandl_request(code, start_date, end_date):
    '''
    Input a country & economic indicator as a string, start date, & end date
    and return a dataframe.
    '''
    econ = pd.DataFrame()
    econ.update = quandl.get(code, start_date=start_date, end_date=end_date)
    return econ

In [20]:
for code in sge_codes['code']:
    if code in country_codes:
        data = quandl.get(code, start_date=start_date, end_date=end_date)
    else:
        pass
    
data

Empty DataFrame
Columns: [Value]
Index: []

In [6]:
econ_cpi = quandl.get('SGE/EGYCPI', start_date=start_date, end_date=end_date, column_index='1')
econ_cpi ['Country'] = 'EGY'
econ_cpi ['Indicator'] = 'CPI'
econ_cpi.reindex(columns=['Date', 'Country', 'Indicator', 'Value'])
econ_cpi.reset_index()
econ_cpi.shape

(36, 3)

In [7]:
econ_cpi

            Value Country Indicator
Date
2017-01-31   74.7     EGY       CPI
2017-02-28   76.7     EGY       CPI
2017-03-31   78.1     EGY       CPI
2017-04-30   79.5     EGY       CPI
2017-05-31   80.8     EGY       CPI
2017-06-30   81.5     EGY       CPI
2017-07-31   84.1     EGY       CPI
2017-08-31   85.0     EGY       CPI
2017-09-30   85.9     EGY       CPI
2017-10-31   86.8     EGY       CPI
2017-11-30   87.7     EGY       CPI
2017-12-31   87.5     EGY       CPI
2018-01-31   87.4     EGY       CPI
2018-02-28   87.7     EGY       CPI
2018-03-31   88.6     EGY       CPI
2018-04-30   89.9     EGY       CPI
2018-05-31   90.0     EGY       CPI
2018-06-30   93.2     EGY       CPI
2018-07-31   95.4     EGY       CPI
2018-08-31   97.1     EGY       CPI
2018-09-30   99.6     EGY       CPI
2018-10-31  102.2     EGY       CPI
2018-11-30  101.4     EGY       CPI
2018-12-31   98.0     EGY       CPI
2019-01-31   98.6     EGY       CPI
2019-02-28  100.3     EGY       CPI
2019-03-31  101.1     EGY       CPI
2019-04-30  101.6     EGY       CPI
2019-05-31  102.7     EGY       CPI
2019-06-30  101.9     EGY       CPI
2019-07-31  103.7     EGY       CPI
2019-08-31  104.4     EGY       CPI
2019-09-30  104.4     EGY       CPI
2019-10-31  105.4     EGY       CPI
2019-11-30  105.1     EGY       CPI
2019-12-31  104.9     EGY       CPI