In [1]:
import quandl
import pandas as pd
import requests
quandl.ApiConfig.api_key = 'vniduHCZR4kzi7nqs1wS'

In [2]:
te = pd.read_csv('~/downloads/SGE_20200527.csv', header=None)

In [3]:
te.head()

        0           1      2
0  ABWBOT  2000-03-31 -278.5
1  ABWBOT  2000-06-30 -274.5
2  ABWBOT  2000-09-30 -316.1
3  ABWBOT  2000-12-31 -316.4
4  ABWBOT  2001-03-31 -279.0

In [4]:
te.rename(columns={0:'indicator', 1:'date', 2:'value'}, inplace=True)

In [5]:
te.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2602343 entries, 0 to 2602342
Data columns (total 3 columns):
 #   Column     Dtype
---  ------     -----
 0   indicator  object
 1   date       object
 2   value      float64
dtypes: float64(1), object(2)
memory usage: 59.6+ MB

In [6]:
te.head()

  indicator        date  value
0    ABWBOT  2000-03-31 -278.5
1    ABWBOT  2000-06-30 -274.5
2    ABWBOT  2000-09-30 -316.1
3    ABWBOT  2000-12-31 -316.4
4    ABWBOT  2001-03-31 -279.0

In [7]:
country_codes = [
'SGE/EGYCPI',
'EGYCPIC',
'EGYEDBT',
'EGYFDI',
'EGYGPCP',
'EGYIR',
'EGYUNP',
'IRQCPI',
'IRQCPIC',
'IRQGPCP',
'IRQIR',
'JORCPI',
'JORCPIC',
'JOREDBT',
'JORFDI',
'JORGPCP',
'JORIR',
'LBNCPI',
'LBNCPIC',
'LBNEDBT',
'LBNFDI',
'LBNGPCP',
'LBNIR',
'SAUCPI',
'SAUCPIC',
'SAUFDI',
'SAUGPCP',
'SAUIR',
'SYRCPI',
'SYRCPIC',
'SYRGPCP'
]

In [8]:
egycpi = te.loc[(te['indicator'] == 'EGYCPI') & 
        (te['date'] >= '2017-01-01') &
        (te['date'] <= '2020-01-01'), :] 

egycpic = te.loc[(te['indicator'] == 'EGYCPIC') & 
        (te['date'] >= '2017-01-01') &
        (te['date'] <= '2020-01-01'), :] 

egyedbt = te.loc[(te['indicator'] == 'EGYEDBT') & 
        (te['date'] >= '2017-01-01') &
        (te['date'] <= '2020-01-01'), :] 

egygpcp = te.loc[(te['indicator'] == 'EGYGPCP') & 
        (te['date'] >= '2017-01-01') &
        (te['date'] <= '2020-01-01'), :]  
        
egyir = te.loc[(te['indicator'] == 'EGYIR') & 
        (te['date'] >= '2017-01-01') &
        (te['date'] <= '2020-01-01'), :] 

egyunr = te.loc[(te['indicator'] == 'EGYUNR') & 
        (te['date'] >= '2017-01-01') &
        (te['date'] <= '2020-01-01'), :]

irqcpi = te.loc[(te['indicator'] == 'IRQCPI') & 
        (te['date'] >= '2017-01-01') &
        (te['date'] <= '2020-01-01'), :]

irqcpic = te.loc[(te['indicator'] == 'IRQCPIC') & 
        (te['date'] >= '2017-01-01') &
        (te['date'] <= '2020-01-01'), :]
       
irqgpcp = te.loc[(te['indicator'] == 'IRQGPCP') & 
        (te['date'] >= '2017-01-01') &
        (te['date'] <= '2020-01-01'), :]

irqir = te.loc[(te['indicator'] == 'IRQIR') & 
        (te['date'] >= '2017-01-01') &
        (te['date'] <= '2020-01-01'), :] 

jorcpi = te.loc[(te['indicator'] == 'JORCPI') & 
        (te['date'] >= '2017-01-01') &
        (te['date'] <= '2020-01-01'), :] 

jorcpic = te.loc[(te['indicator'] == 'JORCPIC') & 
        (te['date'] >= '2017-01-01') &
        (te['date'] <= '2020-01-01'), :] 

joredbt = te.loc[(te['indicator'] == 'JOREDBT') & 
        (te['date'] >= '2017-01-01') &
        (te['date'] <= '2020-01-01'), :] 


jorgpcp = te.loc[(te['indicator'] == 'JORGPCP') & 
        (te['date'] >= '2017-01-01') &
        (te['date'] <= '2020-01-01'), :] 
        
jorir = te.loc[(te['indicator'] == 'JORIR') & 
        (te['date'] >= '2017-01-01') &
        (te['date'] <= '2020-01-01'), :] 

lbncpi = te.loc[(te['indicator'] == 'LBNCPI') & 
        (te['date'] >= '2017-01-01') &
        (te['date'] <= '2020-01-01'), :] 

lbncpic = te.loc[(te['indicator'] == 'LBNCPIC') & 
        (te['date'] >= '2017-01-01') &
        (te['date'] <= '2020-01-01'), :] 

lbnedbt = te.loc[(te['indicator'] == 'LBNEDBT') & 
        (te['date'] >= '2017-01-01') &
        (te['date'] <= '2020-01-01'), :] 

lbngpcp = te.loc[(te['indicator'] == 'LBNGPCP') & 
        (te['date'] >= '2017-01-01') &
        (te['date'] <= '2020-01-01'), :] 
        
lbnir = te.loc[(te['indicator'] == 'LBNIR') & 
        (te['date'] >= '2017-01-01') &
        (te['date'] <= '2020-01-01'), :] 

saucpi = te.loc[(te['indicator'] == 'SAUCPI') & 
        (te['date'] >= '2017-01-01') &
        (te['date'] <= '2020-01-01'), :] 

saucpic = te.loc[(te['indicator'] == 'SAUCPIC') & 
        (te['date'] >= '2017-01-01') &
        (te['date'] <= '2020-01-01'), :] 

saugpcp = te.loc[(te['indicator'] == 'SAUGPCP') & 
        (te['date'] >= '2017-01-01') &
        (te['date'] <= '2020-01-01'), :] 
        
sauir = te.loc[(te['indicator'] == 'SAUIR') & 
        (te['date'] >= '2017-01-01') &
        (te['date'] <= '2020-01-01'), :] 

syrcpi = te.loc[(te['indicator'] == 'SYRCPI') & 
        (te['date'] >= '2017-01-01') &
        (te['date'] <= '2020-01-01'), :] 

syrcpic = te.loc[(te['indicator'] == 'SYRCPIC') & 
        (te['date'] >= '2017-01-01') &
        (te['date'] <= '2020-01-01'), :]

In [9]:
te.loc[(te['indicator'] == 'EGYUNR') & 
        (te['date'] >= '2017-01-01') &
        (te['date'] <= '2020-01-01'), :]

       indicator        date  value
821316    EGYUNR  2017-03-31  12.00
821317    EGYUNR  2017-06-30  11.98
821318    EGYUNR  2017-09-30  11.90
821319    EGYUNR  2017-12-31  11.30
821320    EGYUNR  2018-03-31  10.60
821321    EGYUNR  2018-06-30   9.90
821322    EGYUNR  2018-09-30  10.00
821323    EGYUNR  2018-12-31   8.90
821324    EGYUNR  2019-03-31   8.10
821325    EGYUNR  2019-06-30   7.50
821326    EGYUNR  2019-09-30   7.80
821327    EGYUNR  2019-12-31   8.00

In [10]:
egyunr.shape

(12, 3)

In [11]:
irqunr = pd.DataFrame(columns={'indicator', 'date', 'value'})

In [12]:
irqunr['date'] = ['2017-12-31', '2018-12-31', '2019-12-31']
# irqunr['values'] = 
irqunr.shape

(3, 3)

In [19]:
irqunr['indicator'] = 'IRQUNR'
irqunr['value'][0] = 13.02
irqunr['value'][1] = 12.86
irqunr['value'][2] = 12.82

In [20]:
irqunr

         date indicator  value
0  2017-12-31    IRQUNR  13.02
1  2018-12-31    IRQUNR  12.86
2  2019-12-31    IRQUNR  12.82

In [33]:
dfs = [egycpi, 
egycpic,
egyedbt,
egygpcp,  
egyir, 
egyunp,
irqcpi,
irqcpic,
irqgpcp,
irqir, 
jorcpi,
jorcpic,
joredbt,
jorgpcp,  
jorir,
lbncpi,
lbncpic, 
lbnedbt,
lbngpcp,  
lbnir, 
saucpi,
saucpic,
saugpcp, 
sauir,
syrcpi,
syrcpic]

In [35]:
for i in dfs:
    print(i.shape[0])

36
36
12
12
2
37
12
36
36
2
35
36
36
3
11
2
36
36
36
36
33
2
36
36
36
12
2
37
24
24

Country Codes:

- Egypt: EGY
- Saudi Arabia: SAU
- Lebanon: LBN
- Jordan:JOR
- Iraq: IRQ
- Syria: SYR

Indicators:
- CPI: Consumer Price Index
- CPIC: Inflation Rate
- FDI: Foreign Direct Investment
- GDCP: Gross Domestic Product Per Capita (PPP)
- IR: Interest Rate
- UNP: Unemployment Rate
- EDBT: External Debt

In [7]:
countries = ['EGY', 'SAU', 'LBN', 'JOR', 'IRQ', 'SYR']
indicators = [
'CPI'
'CPIC'
'EDBT'
'FDI'
'GPCP'
'IR'
'UNP'
]